.input-area {
    left: 50%;
    position: absolute;
    transition: top 0.6s ease, transform 0.6s ease, width 0.6s ease;
    border: #dddddd 3px solid;
    background-color: #2c3e50;
}

.input-area.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* larger width when centered */
}

.input-area.bottom {
    top: 97%; /* move to bottom */
    transform: translate(-50%, -97%);
    width: 60%; /* full width at bottom */
}
