.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; /* center horizontally */
    width: 100%;
    text-align: center;
    left: 50%;
    position: absolute;
    transition: top 0.6s ease, transform 0.6s ease, width 0.6s ease;
}

.input-wrapper.center {
    top: 50%;
    transform: translate(-50%, -110%);
}

.input-wrapper.bottom {
    top: 97%;
    transform: translate(-50%, -97%);
}

.input-area {
    width:60%;
    border: #dddddd 3px solid;
    background-color: #2c3e50;
}

.input-area.center {
}

.input-area.bottom {
}

.guiding-text {
    width: 100%;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bolder;
    color: #ccc;
    margin-bottom: 2rem;
    transition: opacity 0.8s ease;
}

.guiding-text.center {
    opacity: 100%;
}

.guiding-text.bottom {
    opacity: 0;
}

