.open-btn {
    margin: 1rem;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn.outline {
    background: transparent;
    border: 1px solid #3498db;
}

.btn.success {
    background: rgb(57, 57, 57);
    border: white 1px solid;
}

.btn.success:hover {
    border: yellow 1px solid;
}

.message {
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: #ddd;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 999;
}
